body{
    width: 1440px;
    background-color: hsl(217, 54%, 11%);
}
.box{
    width: 320px;
    height: 576px;
    background-color: hsl(216, 50%, 16%);
    margin-left: 590px;
    margin-top: 50px;
    border-radius: 15px;
}
.cube{
    width: 280px;
    height: 290px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
}
.user{
    width: 200px;
    height: 25px;
    margin-left: 20px;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 19px;
}
.paragraph{
    width: 280px;
    height: 40px;
    font-family: 'Outfit', sans-serif;
    color: hsl(216, 28%, 42%);
    font-weight: lighter;
    margin-left: 20px;
}
.ethereum-icon{
    width: 20px;
    height: 20px;
}
.ethereum-text{
    width: 90px;
    height: 20px;
    margin-top: 2px;
    padding-left: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: rgb(212, 23, 23);
    font-size: 14px;
}
.ethereum{
    width: 110px;
    display: flex;
    height: 20px;
}
.time-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color:hsl(216, 54%, 70%);
    border-radius: 25px;
}
.time-text{
    height: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color:hsl(216, 28%, 42%);
    margin-top: 0px;
}
.time{
    width: 110px;
    display: flex;
    height: 20px;
    margin-left: 60px;
}
.time-ethereum{
    width: 280px;
    margin-left: 20px;
    display: flex;
}
.line{
    width: 280px;
    height: 1px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: hsl(215, 32%, 27%);
}
.avatar-photo{
    width: 35px;
    height: 35px;
    margin-left: 1px; 
    z-index: 1;  
}
.white-back{
    margin-top: -1px;
    margin-left: -35.8px;
    width: 37px;
    height: 37px;
    background-color: aliceblue;
    border-radius: 20px;  
}

.avatar-text1{
    color: hsl(216, 28%, 42%);
}
.avatar-text2{
    color: white;
    margin-left: 8px;
    font-weight: lighter;
}
.avatar-text{
    font-family: 'Outfit', sans-serif;
    display: flex;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 20px;
    font-size: 15px;
}
.avatar{
    display: flex;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}